<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/layout">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>Title</title>
</head>
<body>
<div id="main" layout:fragment="content">
    <h1>회원가입</h1>
    아이디 : <input type="text" id="userId" name="signup"/>
    비밀번호 : <input type="password" id="userPassword" name="signup"/>
    <input type="button" id="submitBtn" value="완료">
    <script>

        $(document).on('click', '#submitBtn', function(){
            let id = $("#userId").val();
            let pwd = $("#userPassword").val();

            console.log("userId: ", id);
            console.log("userpwd: ", pwd);

            let params = {"userId" : id, "userPassword" : pwd};
            console.log(params);
                $.ajax({
                    type : "POST",            // HTTP method type(GET, POST) 형식이다.
                    url : "/signup",      // 컨트롤러에서 대기중인 URL 주소이다.
                    data : params,            // Json 형식의 데이터이다.
                    beforeSend: function(jqXHR, settings) {
                      let header = $("meta[name='_csrf_header']").attr("content");
                      let token = $("meta[name='_csrf']").attr("content");
                      jqXHR.setRequestHeader(header, token);
                    },
                    success : function(res){
                        alert(res.code);
                    },
                    error : function(XMLHttpRequest, textStatus, errorThrown){ // 비동기 통신이 실패할경우 error 콜백으로 들어옵니다.
                        alert("통신 실패.")
                    }
                });
        });


        // function success(signup){
        //     console.log("userId: ", signup.valueOf().id);
        //     console.log("userPassword: ", pwd);
        //
        //     let params = {"userId" : id, "userPassword" : pwd};
        //
        //     $.ajax({
        //         type : "POST",            // HTTP method type(GET, POST) 형식이다.
        //         url : "/signup",      // 컨트롤러에서 대기중인 URL 주소이다.
        //         data : params,            // Json 형식의 데이터이다.
        //         success : function(res){
        //             alert(res.code);
        //         },
        //         error : function(XMLHttpRequest, textStatus, errorThrown){ // 비동기 통신이 실패할경우 error 콜백으로 들어옵니다.
        //             alert("통신 실패.")
        //         }
        //     });
        //
        // };


    </script>
</div>
</body>
</html>