#main { width: 100%; height: 800px; border: 1px solid red; }
#footer { position:relative; width:1638px; margin:0 20px; display:inline-block; padding-left:241px; }
#header { width: 100%; height:100px; }